@use "sass:map";

// Plugin custom functions
@import "./../../functions";

// Get border styles rules
@mixin borderRules(
	$blockName,
	$attrPrefix: "",
	$borderDefaults: $defaultBorder
) {
	$varPrefix: wp-beer-blocks-#{$blockName}-#{camelize("#{$attrPrefix}-border")};

	@each $side in ("top", "right", "bottom", "left") {
		@if map.has-key($borderDefaults, style) {
			border-#{$side}-style: var(
				--#{$varPrefix + capitalize($side)}Style,
				map.get($borderDefaults, "style")
			);
		}

		border-#{$side}-color: var(
			--#{$varPrefix + capitalize($side)}Color,
			map.get($borderDefaults, "color")
		);

		border-#{$side}-width: var(
			--#{$varPrefix + capitalize($side)}Width,
			map.get($borderDefaults, "width")
		);
	}
}
