@use "sass:map";

// Plugin custom variables and functions
@import "./../../variables";
@import "./../../functions";

// Get background rule
@mixin backgroundRule(
	$blockName,
	$attrPrefix: "",
	$defaultValue: map.get($defaultColors, background)
) {
	background: var(
		--wp-beer-blocks-#{$blockName}-#{camelize(#{$attrPrefix}-background)},
		$defaultValue
	);
}

// Get color rule
@mixin colorRule(
	$blockName,
	$attrPrefix: "",
	$defaultValue: map.get($defaultColors, color)
) {
	color: var(
		--wp-beer-blocks-#{$blockName}-#{camelize(#{$attrPrefix}-color)},
		$defaultValue
	);
}

// Get color and background rules
@mixin colorsRules(
	$blockName,
	$attrPrefix: "",
	$defaultColor: map.get($defaultColors, color),
	$defaultBackground: map.get($defaultColors, background)
) {
	@include backgroundRule($blockName, $attrPrefix, $defaultBackground);
	@include colorRule($blockName, $attrPrefix, $defaultColor);
}
