@use "sass:map";

// Plugin custom variables and functions
@import "./../../variables";
@import "./../../functions";

// Default colors
$colorsHelperDefaults: (
	color: $body-color,
	background: transparent,
);

// Get background rule
@mixin backgroundRule(
	$blockName,
	$attrPrefix: "",
	$defaultValue: map.get($colorsHelperDefaults, background)
) {
	background: var(
		--wp-beer-blocks-#{$blockName}-#{camelize(#{$attrPrefix}-background)},
		$defaultValue
	);
}

// Get color rule
@mixin colorRule(
	$blockName,
	$attrPrefix: "",
	$defaultValue: map.get($colorsHelperDefaults, color)
) {
	color: var(
		--wp-beer-blocks-#{$blockName}-#{camelize(#{$attrPrefix}-color)},
		$defaultValue
	);
}

// Get color and background rules
@mixin colorsRules(
	$blockName,
	$attrPrefix: "",
	$defaultColors: $colorsHelperDefaults
) {
	@include backgroundRule(
		$blockName,
		$attrPrefix,
		map.get($defaultColors, background)
	);
	@include colorRule($blockName, $attrPrefix, map.get($defaultColors, color));
}
