// Plugin custom functions
@import "./../../functions";

// Get width rules
@mixin widthRules($blockName, $breakpointName: "", $attrPrefix: "") {
	$varPrefix: --wp-beer-blocks-#{$blockName}-#{camelize("#{$attrPrefix}-width")};

	@if $breakpointName == "" {
		$breakpointName: "xs";
	}

	&.wp-beer-blocks-has-width-#{$breakpointName}-rule {
		width: var(#{$varPrefix}-#{$breakpointName});
	}
}

// Get height rules
@mixin heightRules($blockName, $breakpointName: "", $attrPrefix: "") {
	$varPrefix: --wp-beer-blocks-#{$blockName}-#{camelize(
			"#{$attrPrefix}-height"
		)};

	@if $breakpointName == "" {
		$breakpointName: "xs";
	}

	&.wp-beer-blocks-has-height-#{$breakpointName}-rule {
		height: var(#{$varPrefix}-#{$breakpointName});
	}
}
