@use "sass:map";

// Plugin custom functions
@import "./../../variables";
@import "./../../functions";

// Default blocks vertical margins in editor view
@mixin defaultEditorBlocksVerticalMargins(
	$margin: $defaultBlocksVerticalMargin
) {
	.editor-styles-wrapper & {
		margin-top: $margin;
		margin-bottom: $margin;
	}
}

// Default blocks vertical margins in editor and theme view
@mixin defaultBlocksVerticalMargins($margin: $defaultBlocksVerticalMargin) {
	margin-top: $margin;
	margin-bottom: $margin;
}

// Get padding-{side} rules for custom breakpoint
@mixin paddingRules(
	$blockName,
	$breakpointName: "",
	$attrPrefix: "",
	$sides: (top, right, bottom, left)
) {
	$varPrefix: --wp-beer-blocks-#{$blockName}-#{camelize(
			"#{$attrPrefix}-padding"
		)};

	@if $breakpointName == "" {
		$breakpointName: "xs";
	}

	@each $side in $sides {
		&.wp-beer-blocks-has-padding-#{$side}-#{$breakpointName}-rule {
			padding-#{$side}: var(
				#{$varPrefix + capitalize($side)}-#{$breakpointName}
			);
		}
	}
}

// Get margin-{side} rules for custom breakpoint
@mixin marginRules(
	$blockName,
	$breakpointName: "",
	$attrPrefix: "",
	$sides: (top, right, bottom, left)
) {
	$varPrefix: --wp-beer-blocks-#{$blockName}-#{camelize(
			"#{$attrPrefix}-margin"
		)};

	@if $breakpointName == "" {
		$breakpointName: "xs";
	}

	@each $side in $sides {
		&.wp-beer-blocks-has-margin-#{$side}-#{$breakpointName}-rule {
			margin-#{$side}: var(
				#{$varPrefix + capitalize($side)}-#{$breakpointName}
			);
		}
	}
}

// Get vertical paddings rules for custom breakpoint
@mixin verticalPaddingRules($blockName, $breakpointName: "", $attrPrefix: "") {
	$varPrefix: --wp-beer-blocks-#{$blockName}-#{camelize(
			"#{$attrPrefix}-padding"
		)};

	@if $breakpointName == "" {
		$breakpointName: "xs";
	}

	@each $side in ("top", "bottom") {
		&.wp-beer-blocks-has-padding-#{$side}-#{$breakpointName}-rule {
			padding-#{$side}: var(
				#{$varPrefix + capitalize($side)}-#{$breakpointName}
			);
		}
	}
}

// Get horizontal paddings rules for custom breakpoint
@mixin horizontalPaddingRules(
	$blockName,
	$breakpointName: "",
	$attrPrefix: ""
) {
	$varPrefix: --wp-beer-blocks-#{$blockName}-#{camelize(
			"#{$attrPrefix}-padding"
		)};

	@if $breakpointName == "" {
		$breakpointName: "xs";
	}

	@each $side in ("left", "right") {
		&.wp-beer-blocks-has-padding-#{$side}-#{$breakpointName}-rule {
			padding-#{$side}: var(
				#{$varPrefix + capitalize($side)}-#{$breakpointName}
			);
		}
	}
}

// Get vertical margin rules for custom breakpoint
@mixin verticalMarginRules($blockName, $breakpointName: "", $attrPrefix: "") {
	$varPrefix: --wp-beer-blocks-#{$blockName}-#{camelize(
			"#{$attrPrefix}-margin"
		)};

	@if $breakpointName == "" {
		$breakpointName: "xs";
	}

	@each $side in ("top", "bottom") {
		&.wp-beer-blocks-has-margin-#{$side}-#{$breakpointName}-rule {
			margin-#{$side}: var(
				#{$varPrefix + capitalize($side)}-#{$breakpointName}
			);
		}
	}
}

// Get horizontal margin rules for custom breakpoints
@mixin horizontalMarginRules($blockName, $breakpointName: "", $attrPrefix: "") {
	$varPrefix: --wp-beer-blocks-#{$blockName}-#{camelize(
			"#{$attrPrefix}-margin"
		)};

	@if $breakpointName == "" {
		$breakpointName: "xs";
	}

	@each $side in ("left", "right") {
		&.wp-beer-blocks-has-margin-#{$side}-#{$breakpointName}-rule {
			margin-#{$side}: var(
				#{$varPrefix + capitalize($side)}-#{$breakpointName}
			);
		}
	}
}
