@use "sass:map";

// Plugin custom variables and functions
@import "./../../variables";
@import "./../../functions";

// Line height rules for custom breakpoint
@mixin lineHeightRules($blockName, $breakpointName: "", $attrPrefix: "") {
	$lineHeightVarName: --wp-beer-blocks-#{$blockName}-#{camelize(
			"#{$attrPrefix}-line-height"
		)};

	@if $breakpointName == "" {
		$breakpointName: "xs";
	}

	&.wp-beer-blocks-has-lineHeight-#{$breakpointName}-rule {
		line-height: var(#{$lineHeightVarName}-#{$breakpointName});
	}
}

// Font size rules for custom breakpoints
@mixin fontSizeRules($blockName, $breakpointName: "", $attrPrefix: "") {
	$fontSizeVarName: --wp-beer-blocks-#{$blockName}-#{camelize(
			"#{$attrPrefix}-font-size"
		)};

	@if $breakpointName == "" {
		$breakpointName: "xs";
	}

	&.wp-beer-blocks-has-fontSize-#{$breakpointName}-rule {
		font-size: var(#{$fontSizeVarName}-#{$breakpointName});
	}
}

// Get typography rules for custom breakpoint
@mixin typographyRules(
	$blockName,
	$breakpointName: "",
	$attrPrefix: "",
	$lineHeightRule: true
) {
	@include fontSizeRules($blockName, $breakpointName, $attrPrefix);

	@if $lineHeightRule {
		@include lineHeightRules($blockName, $breakpointName, $attrPrefix);
	}
}
