@import "./../../variables.scss";
@import "./../helpers/spacing";
@import "./../helpers/border";
@import "./../helpers/typography";
@import "./../helpers/colors";

// Default border
$defaultAccordionItemBorder: (
	style: solid,
	color: $card-border-color,
	width: $card-border-width,
);

// Default border radius
$defaultAccordionItemBorderRadius: (
	top-left: $card-border-radius,
	top-right: $card-border-radius,
	bottom-right: $card-border-radius,
	bottom-left: $card-border-radius,
);

// Default margins
$defaultAccordionItemMargin: (
	top: 0,
	right: 0,
	bottom: 0,
	left: 0,
);

// Default typography for heading
$defaultAccordionItemHeadingTypography: (
	fontSize: $input-btn-font-size,
	lineHeight: $input-btn-line-height,
);

// Default heading background
$defaultAccordionItemHeadingBackground: $card-cap-bg;

// Default heading border
$defaultAccordionItemHeadingBorder: (
	top: $defaultBorder,
	right: $defaultBorder,
	bottom: (
		style: solid,
		color: $card-border-color,
		width: $card-border-width,
	),
	left: $defaultBorder,
);

// Default heading color
$defaultAccordionItemHeadingColor: $link-color;

// Default heading border radius
$defaultAccordionItemHeadingBorderRadius: (
	top-left: $card-inner-border-radius,
	top-right: $card-inner-border-radius,
	bottom-right: 0,
	bottom-left: 0,
);

// Default body background
$defaultAccordionItemBodyBackground: $card-bg;

@mixin accordion-item-block-rules() {
	.wp-block-beer-blocks-accordion-item {
		&.card {
			@include media-breakpoint-down(xs) {
				@include paddingRules("accordion-item");
				@include marginRules(
					"accordion-item",
					$defaultValues: $defaultAccordionItemMargin
				);
			}

			@include media-breakpoint-up(sm) {
				@include paddingRules("accordion-item", "sm");
				@include marginRules(
					"accordion-item",
					"sm",
					$defaultValues: $defaultAccordionItemMargin
				);
			}

			@include media-breakpoint-up(md) {
				@include paddingRules("accordion-item", "md");
				@include marginRules(
					"accordion-item",
					"md",
					$defaultValues: $defaultAccordionItemMargin
				);
			}

			@include media-breakpoint-up(lg) {
				@include paddingRules("accordion-item", "lg");
				@include marginRules(
					"accordion-item",
					"lg",
					$defaultValues: $defaultAccordionItemMargin
				);
			}

			@include media-breakpoint-up(xl) {
				@include paddingRules("accordion-item", "xl");
				@include marginRules(
					"accordion-item",
					"xl",
					$defaultValues: $defaultAccordionItemMargin
				);
			}

			@include media-breakpoint-up(xxl) {
				@include paddingRules("accordion-item", "xxl");
				@include marginRules(
					"accordion-item",
					"xxl",
					$defaultValues: $defaultAccordionItemMargin
				);
			}

			.accordion > & {
				@include accordionItemBorderRules(
					$borderDefaults: $defaultAccordionItemBorder,
					$borderRadius: true,
					$borderRadiusDefaults: $defaultAccordionItemBorderRadius
				);
				@include backgroundRule("accordion-item");

				& > .card-header {
					margin-bottom: 0;

					@include backgroundRule(
						"accordion-item",
						"heading",
						$defaultAccordionItemHeadingBackground
					);

					@include borderRules(
						"accordion-item",
						"heading",
						$defaultAccordionItemHeadingBorder,
						true,
						$defaultAccordionItemHeadingBorderRadius
					);

					& > h2 .btn {
						@include colorRule(
							"accordion-item",
							"heading",
							$defaultAccordionItemHeadingColor
						);

						@include media-breakpoint-down(xs) {
							@include typographyRules(
								"accordion-item",
								"xs",
								"heading",
								$defaultAccordionItemHeadingTypography
							);
						}

						@include media-breakpoint-up(sm) {
							@include typographyRules(
								"accordion-item",
								"sm",
								"heading",
								$defaultAccordionItemHeadingTypography
							);
						}

						@include media-breakpoint-up(md) {
							@include typographyRules(
								"accordion-item",
								"md",
								"heading",
								$defaultAccordionItemHeadingTypography
							);
						}

						@include media-breakpoint-up(lg) {
							@include typographyRules(
								"accordion-item",
								"lg",
								"heading",
								$defaultAccordionItemHeadingTypography
							);
						}

						@include media-breakpoint-up(xl) {
							@include typographyRules(
								"accordion-item",
								"xl",
								"heading",
								$defaultAccordionItemHeadingTypography
							);
						}

						@include media-breakpoint-up(xxl) {
							@include typographyRules(
								"accordion-item",
								"xxl",
								"heading",
								$defaultAccordionItemHeadingTypography
							);
						}
					}
				}
			}
		}
	}
}

@mixin accordion-item-block-editor-rules() {
}
