@import "./../../variables";
@import "./../helpers/spacing";
@import "./../helpers/border";
@import "./../helpers/typography";
@import "./../helpers/colors";

// Default border
/*
$defaultAccordionItemBorder: (
	style: solid,
	color: $card-border-color,
	width: $card-border-width,
);

// Default border radius
$defaultAccordionItemBorderRadius: (
	top-left: $card-border-radius,
	top-right: $card-border-radius,
	bottom-right: $card-border-radius,
	bottom-left: $card-border-radius,
);

// Default heading border
$defaultAccordionItemHeadingBorder: (
	top: $defaultBorder,
	right: $defaultBorder,
	bottom: (
		style: solid,
		color: $card-border-color,
		width: $card-border-width,
	),
	left: $defaultBorder,
);

// Default heading border radius
$defaultAccordionItemHeadingBorderRadius: (
	top-left: $card-inner-border-radius,
	top-right: $card-inner-border-radius,
	bottom-right: 0,
	bottom-left: 0,
);
*/
@mixin accordion-item-block-rules() {
	.wp-block-beer-blocks-accordion-item {
		&.card {
			@include paddingRules("accordion-item");
			@include marginRules("accordion-item");

			@include media-breakpoint-up(sm) {
				@include paddingRules("accordion-item", "sm");
				@include marginRules("accordion-item", "sm");
			}

			@include media-breakpoint-up(md) {
				@include paddingRules("accordion-item", "md");
				@include marginRules("accordion-item", "md");
			}

			@include media-breakpoint-up(lg) {
				@include paddingRules("accordion-item", "lg");
				@include marginRules("accordion-item", "lg");
			}

			@include media-breakpoint-up(xl) {
				@include paddingRules("accordion-item", "xl");
				@include marginRules("accordion-item", "xl");
			}

			@include media-breakpoint-up(xxl) {
				@include paddingRules("accordion-item", "xxl");
				@include marginRules("accordion-item", "xxl");
			}

			.accordion > & {
				/*
				@include accordionItemBorderRules(
					$borderDefaults: $defaultAccordionItemBorder,
					$borderRadius: true,
					$borderRadiusDefaults: $defaultAccordionItemBorderRadius
				);
				*/
				@include backgroundRule("accordion-item");
				@include borderRules("accordion-item", $borderRadius: true);

				& > .card-header {
					margin-bottom: 0;
					@include backgroundRule("accordion-item", "heading");
					@include borderRules("accordion-item", "heading", true);

					& > h2 .btn {
						@include colorRule("accordion-item", "heading");
						@include paddingRules("accordion-item", "xs", "heading");
						@include typographyRules("accordion-item", "xs", "heading");

						@include media-breakpoint-up(sm) {
							@include paddingRules("accordion-item", "sm", "heading");
							@include typographyRules("accordion-item", "sm", "heading");
						}

						@include media-breakpoint-up(md) {
							@include paddingRules("accordion-item", "md", "heading");
							@include typographyRules("accordion-item", "md", "heading");
						}

						@include media-breakpoint-up(lg) {
							@include paddingRules("accordion-item", "md", "heading");
							@include typographyRules("accordion-item", "lg", "heading");
						}

						@include media-breakpoint-up(xl) {
							@include paddingRules("accordion-item", "xl", "heading");
							@include typographyRules("accordion-item", "xl", "heading");
						}

						@include media-breakpoint-up(xxl) {
							@include paddingRules("accordion-item", "xxl", "heading");
							@include typographyRules("accordion-item", "xxl", "heading");
						}
					}
				}

				& > .collapse > .card-body {
					@include paddingRules("accordion-item", "xs", "body");

					@include media-breakpoint-up(sm) {
						@include paddingRules("accordion-item", "sm", "body");
					}

					@include media-breakpoint-up(md) {
						@include paddingRules("accordion-item", "md", "body");
					}

					@include media-breakpoint-up(lg) {
						@include paddingRules("accordion-item", "lg", "body");
					}

					@include media-breakpoint-up(xl) {
						@include paddingRules("accordion-item", "xl", "body");
					}

					@include media-breakpoint-up(xxl) {
						@include paddingRules("accordion-item", "xxl", "body");
					}
				}
			}
		}
	}
}

@mixin accordion-item-block-editor-rules() {
	.wp-block-beer-blocks-accordion-item {
		// Fix block editor default .card padding
		&.card {
			padding: revert;
		}

		.editor-styles-wrapper &.wp-block {
			&.card {
				margin-top: revert;
				margin-bottom: revert;
				@include verticalMarginRules("accordion-item");

				@include media-breakpoint-up(sm) {
					@include verticalMarginRules("accordion-item", "sm");
				}

				@include media-breakpoint-up(md) {
					@include verticalMarginRules("accordion-item", "md");
				}

				@include media-breakpoint-up(lg) {
					@include verticalMarginRules("accordion-item", "lg");
				}

				@include media-breakpoint-up(xl) {
					@include verticalMarginRules("accordion-item", "xl");
				}

				@include media-breakpoint-up(xxl) {
					@include verticalMarginRules("accordion-item", "xxl");
				}
			}
		}
	}
}
