@import "./../helpers/spacing";
@import "./../helpers/border";
@import "./../helpers/typography";
@import "./../helpers/colors";

@mixin accordion-item-block-rules() {
	.wp-block-beer-blocks-accordion-item {
		&.card {
			@include borderRules(
				"accordion-item",
				$borderDefaults: $defaultAccordionItemBorder,
				$borderRadius: true
			);

			@include media-breakpoint-down(xs) {
				@include paddingRules("accordion-item");
				@include marginRules(
					"accordion-item",
					$defaultValues: $defaultAccordionItemMargin
				);
			}

			@include media-breakpoint-up(sm) {
				@include paddingRules("accordion-item", "sm");
				@include marginRules(
					"accordion-item",
					"sm",
					$defaultValues: $defaultAccordionItemMargin
				);
			}

			@include media-breakpoint-up(md) {
				@include paddingRules("accordion-item", "md");
				@include marginRules(
					"accordion-item",
					"md",
					$defaultValues: $defaultAccordionItemMargin
				);
			}

			@include media-breakpoint-up(lg) {
				@include paddingRules("accordion-item", "lg");
				@include marginRules(
					"accordion-item",
					"lg",
					$defaultValues: $defaultAccordionItemMargin
				);
			}

			@include media-breakpoint-up(xl) {
				@include paddingRules("accordion-item", "xl");
				@include marginRules(
					"accordion-item",
					"xl",
					$defaultValues: $defaultAccordionItemMargin
				);
			}

			@include media-breakpoint-up(xxl) {
				@include paddingRules("accordion-item", "xxl");
				@include marginRules(
					"accordion-item",
					"xxl",
					$defaultValues: $defaultAccordionItemMargin
				);
			}

			& > .card-header {
				.accordion & {
					@include backgroundRule(
						"accordion-item",
						"heading",
						$defaultAccordionItemHeadingBackground
					);
					@include borderRules(
						"accordion-item",
						"heading",
						$borderRadius: true
					);
				}

				& > h2 .btn {
					@include colorRule(
						"accordion-item",
						"heading",
						$defaultAccordionItemHeadingColor
					);

					@include media-breakpoint-down(xs) {
						@include typographyRules(
							"accordion-item",
							"xs",
							"heading",
							$defaultAccordionItemHeadingTypography
						);
					}

					@include media-breakpoint-up(sm) {
						@include typographyRules(
							"accordion-item",
							"sm",
							"heading",
							$defaultAccordionItemHeadingTypography
						);
					}

					@include media-breakpoint-up(md) {
						@include typographyRules(
							"accordion-item",
							"md",
							"heading",
							$defaultAccordionItemHeadingTypography
						);
					}

					@include media-breakpoint-up(lg) {
						@include typographyRules(
							"accordion-item",
							"lg",
							"heading",
							$defaultAccordionItemHeadingTypography
						);
					}

					@include media-breakpoint-up(xl) {
						@include typographyRules(
							"accordion-item",
							"xl",
							"heading",
							$defaultAccordionItemHeadingTypography
						);
					}

					@include media-breakpoint-up(xxl) {
						@include typographyRules(
							"accordion-item",
							"xxl",
							"heading",
							$defaultAccordionItemHeadingTypography
						);
					}
				}
			}

			& > .collapse > .card-body {
				@include backgroundRule(
					"accordion-item",
					"body",
					$defaultAccordionItemBodyBackground
				);
				@include borderRules("accordion-item", "body", $borderRadius: true);
			}
		}
	}
}

@mixin accordion-item-block-editor-rules() {
}
