@import "./../helpers/spacing";

@mixin buttons-block-rules() {
	.wp-block-beer-blocks-buttons {
		.wp-block-beer-blocks-button {
			display: inline-block;
		}
	}
}

@mixin buttons-block-editor-rules() {
	.wp-block-beer-blocks-buttons {
		&.is-selected {
			outline: 1px dotted #035cff;
		}

		&.has-child-selected {
			outline: 1px dotted #ff9f50;
		}
	}
}
