@import "./../../variables.scss";
@import "./../helpers/spacing";
@import "./../helpers/typography";
@import "./../helpers/colors";
@import "./../helpers/statuses";
@import "./../helpers/border";

// Default padding styles
$defaultButtonPadding: (
	top: $btn-padding-y,
	right: $btn-padding-x,
	bottom: $btn-padding-y,
	left: $btn-padding-x,
);

// Default border styles
$defaultButtonBorder: (
	style: solid,
	color: $gray-900,
	width: 2px,
);

// Default border radius styles
$defaultButtonBorderRadius: (
	top-right: $btn-border-radius,
	bottom-right: $btn-border-radius,
	bottom-left: $btn-border-radius,
	top-left: $btn-border-radius,
);

// Default border styles for statuses helper
$defaultButtonStatusesBorder: (
	color: $gray-900,
	width: 2px,
);

// Default typography styles
$defaultButtonTypography: (
	fontSize: $input-btn-font-size,
	lineHeight: $input-btn-line-height,
);

// Button cursor
$defaultButtonCursor: if($enable-pointer-cursor-for-buttons, pointer, auto);

@mixin button-block-rules() {
	.wp-block-beer-blocks-button {
		@include media-breakpoint-down(xs) {
			@include marginRules("button");
		}

		@include media-breakpoint-up(sm) {
			@include marginRules("button", "sm");
		}

		@include media-breakpoint-up(md) {
			@include marginRules("button", "md");
		}

		@include media-breakpoint-up(lg) {
			@include marginRules("button", "lg");
		}

		@include media-breakpoint-up(xl) {
			@include marginRules("button", "xl");
		}

		@include media-breakpoint-up(xxl) {
			@include marginRules("button", "xxl");
		}

		& > a {
			text-decoration: none;

			@include media-breakpoint-down(xs) {
				@include paddingRules("button", $defaultValues: $defaultButtonPadding);
			}

			@include media-breakpoint-up(sm) {
				@include paddingRules(
					"button",
					"sm",
					$defaultValues: $defaultButtonPadding
				);
			}

			@include media-breakpoint-up(md) {
				@include paddingRules(
					"button",
					"md",
					$defaultValues: $defaultButtonPadding
				);
			}

			@include media-breakpoint-up(lg) {
				@include paddingRules(
					"button",
					"lg",
					$defaultValues: $defaultButtonPadding
				);
			}

			@include media-breakpoint-up(xl) {
				@include paddingRules(
					"button",
					"xl",
					$defaultValues: $defaultButtonPadding
				);
			}

			@include media-breakpoint-up(xxl) {
				@include paddingRules(
					"button",
					"xxl",
					$defaultValues: $defaultButtonPadding
				);
			}

			&.wp-beer-blocks-btn-custom-styles {
				@include colorsRules("button");
				@include borderRules(
					"button",
					$borderDefaults: $defaultButtonBorder,
					$borderRadius: true,
					$borderRadiusDefaults: $defaultButtonBorderRadius
				);
				@include statusesRules(
					"button",
					$hoverColor: true,
					$activeColor: true,
					$focusColor: true,
					$hoverBackground: true,
					$activeBackground: true,
					$focusBackground: true,
					$hoverBorder: true,
					$hoverBorderDefault: $defaultButtonStatusesBorder,
					$activeBorder: true,
					$activeBorderDefault: $defaultButtonStatusesBorder,
					$focusBorder: true,
					$focusBorderDefault: $defaultButtonStatusesBorder,
					$transition: true
				);

				@include media-breakpoint-down(xs) {
					@include typographyRules(
						"button",
						"xs",
						$defaultValues: $defaultButtonTypography
					);
				}

				@include media-breakpoint-up(sm) {
					@include typographyRules(
						"button",
						"sm",
						$defaultValues: $defaultButtonTypography
					);
				}

				@include media-breakpoint-up(md) {
					@include typographyRules(
						"button",
						"md",
						$defaultValues: $defaultButtonTypography
					);
				}

				@include media-breakpoint-up(lg) {
					@include typographyRules(
						"button",
						"lg",
						$defaultValues: $defaultButtonTypography
					);
				}

				@include media-breakpoint-up(xl) {
					@include typographyRules(
						"button",
						"xl",
						$defaultValues: $defaultButtonTypography
					);
				}

				@include media-breakpoint-up(xxl) {
					@include typographyRules(
						"button",
						"xxl",
						$defaultValues: $defaultButtonTypography
					);
				}
			}
		}
	}
}

@mixin button-block-editor-rules() {
	.wp-block-beer-blocks-button {
		.editor-styles-wrapper &.wp-block {
			@include media-breakpoint-down(xs) {
				@include horizontalMarginRules("button");
			}

			@include media-breakpoint-up(sm) {
				@include horizontalMarginRules("button", "sm");
			}

			@include media-breakpoint-up(md) {
				@include horizontalMarginRules("button", "md");
			}

			@include media-breakpoint-up(lg) {
				@include horizontalMarginRules("button", "lg");
			}

			@include media-breakpoint-up(xl) {
				@include horizontalMarginRules("button", "xl");
			}

			@include media-breakpoint-up(xxl) {
				@include horizontalMarginRules("button", "xxl");
			}

			& > a {
				text-decoration: none;
				cursor: $defaultButtonCursor;

				@include media-breakpoint-down(xs) {
					@include paddingRules(
						"button",
						$defaultValues: $defaultButtonPadding
					);
				}

				@include media-breakpoint-up(sm) {
					@include paddingRules(
						"button",
						"sm",
						$defaultValues: $defaultButtonPadding
					);
				}

				@include media-breakpoint-up(md) {
					@include paddingRules(
						"button",
						"md",
						$defaultValues: $defaultButtonPadding
					);
				}

				@include media-breakpoint-up(lg) {
					@include paddingRules(
						"button",
						"lg",
						$defaultValues: $defaultButtonPadding
					);
				}

				@include media-breakpoint-up(xl) {
					@include paddingRules(
						"button",
						"xl",
						$defaultValues: $defaultButtonPadding
					);
				}

				@include media-breakpoint-up(xxl) {
					@include paddingRules(
						"button",
						"xxl",
						$defaultValues: $defaultButtonPadding
					);
				}
			}
		}
	}
}
