@import "./../../variables.scss";
@import "./../helpers/spacing";
@import "./../helpers/typography";
@import "./../helpers/statuses";
@import "./../helpers/border";
@import "./../helpers/colors";

// Button cursor
$defaultButtonCursor: if($enable-pointer-cursor-for-buttons, pointer, auto);

@mixin button-block-rules() {
	.wp-block-beer-blocks-button {
		@include marginRules("button");

		@include media-breakpoint-up(sm) {
			@include marginRules("button", "sm");
		}

		@include media-breakpoint-up(md) {
			@include marginRules("button", "md");
		}

		@include media-breakpoint-up(lg) {
			@include marginRules("button", "lg");
		}

		@include media-breakpoint-up(xl) {
			@include marginRules("button", "xl");
		}

		@include media-breakpoint-up(xxl) {
			@include marginRules("button", "xxl");
		}

		& > a {
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
			
			@include paddingRules("button");

			@include media-breakpoint-up(sm) {
				@include paddingRules("button", "sm");
			}

			@include media-breakpoint-up(md) {
				@include paddingRules("button", "md");
			}

			@include media-breakpoint-up(lg) {
				@include paddingRules("button", "lg");
			}

			@include media-breakpoint-up(xl) {
				@include paddingRules("button", "xl");
			}

			@include media-breakpoint-up(xxl) {
				@include paddingRules("button", "xxl");
			}

			&.wp-beer-blocks-btn-custom-styles {
				@include colorsRules("button");
				@include borderRules("button", $borderRadius: true);
				@include statusesRules(
					"button",
					$hoverColor: true,
					$activeColor: true,
					$focusColor: true,
					$hoverBackground: true,
					$activeBackground: true,
					$focusBackground: true,
					$hoverBorderColor: true,
					$activeBorderColor: true,
					$focusBorderColor: true,
					$transition: true
				);
				@include typographyRules("button");

				@include media-breakpoint-up(sm) {
					@include typographyRules("button", "sm");
				}

				@include media-breakpoint-up(md) {
					@include typographyRules("button", "md");
				}

				@include media-breakpoint-up(lg) {
					@include typographyRules("button", "lg");
				}

				@include media-breakpoint-up(xl) {
					@include typographyRules("button", "xl");
				}

				@include media-breakpoint-up(xxl) {
					@include typographyRules("button", "xxl");
				}
			}
		}
	}
}

@mixin button-block-editor-rules() {
	.wp-block-beer-blocks-button {
		.editor-styles-wrapper &.wp-block {
			margin-top: revert;
			margin-bottom: revert;
			@include verticalMarginRules("button");

			@include media-breakpoint-up(sm) {
				@include verticalMarginRules("button", "sm");
			}

			@include media-breakpoint-up(md) {
				@include verticalMarginRules("button", "md");
			}

			@include media-breakpoint-up(lg) {
				@include verticalMarginRules("button", "lg");
			}

			@include media-breakpoint-up(xl) {
				@include verticalMarginRules("button", "xl");
			}

			@include media-breakpoint-up(xxl) {
				@include verticalMarginRules("button", "xxl");
			}

			& > a {
				text-decoration: none;
				cursor: $defaultButtonCursor;
				@include paddingRules("button");

				@include media-breakpoint-up(sm) {
					@include paddingRules("button", "sm");
				}

				@include media-breakpoint-up(md) {
					@include paddingRules("button", "md");
				}

				@include media-breakpoint-up(lg) {
					@include paddingRules("button", "lg");
				}

				@include media-breakpoint-up(xl) {
					@include paddingRules("button", "xl");
				}

				@include media-breakpoint-up(xxl) {
					@include paddingRules("button", "xxl");
				}
			}
		}
	}
}
