@import "./../helpers/spacing";
@import "./../helpers/colors";

@mixin column-block-rules() {
	.wp-block-beer-blocks-column {
		@include backgroundRule("column");
		@include verticalPaddingRules("column");
		@include verticalMarginRules("column");

		@include media-breakpoint-up(sm) {
			@include verticalPaddingRules("column", "sm");
			@include verticalMarginRules("column", "sm");
		}

		@include media-breakpoint-up(md) {
			@include verticalPaddingRules("column", "md");
			@include verticalMarginRules("column", "md");
		}

		@include media-breakpoint-up(lg) {
			@include verticalPaddingRules("column", "lg");
			@include verticalMarginRules("column", "lg");
		}

		@include media-breakpoint-up(xl) {
			@include verticalPaddingRules("column", "xl");
			@include verticalMarginRules("column", "xl");
		}

		@include media-breakpoint-up(xxl) {
			@include verticalPaddingRules("column", "xxl");
			@include verticalMarginRules("column", "xxl");
		}
	}
}

@mixin column-block-editor-rules() {
	.wp-block-beer-blocks-column {
		&.is-selected {
			outline: 1px dotted #035cff;
		}

		&.has-child-selected {
			outline: 1px dotted #ff9f50;
		}

		.editor-styles-wrapper &.wp-block {
			margin-top: revert;
			margin-bottom: revert;
			@include verticalMarginRules("column");

			@include media-breakpoint-up(sm) {
				@include verticalMarginRules("column", "sm");
			}

			@include media-breakpoint-up(md) {
				@include verticalMarginRules("column", "md");
			}

			@include media-breakpoint-up(lg) {
				@include verticalMarginRules("column", "lg");
			}

			@include media-breakpoint-up(xl) {
				@include verticalMarginRules("column", "xl");
			}

			@include media-breakpoint-up(xxl) {
				@include verticalMarginRules("column", "xxl");
			}
		}
	}
}
