@import "./../helpers/typography";
@import "./../helpers/colors";
@import "./../helpers/spacing";

@mixin fa-icon-block-rules() {
	.wp-block-beer-blocks-fa-icon {
		& > i {
			@include colorRule("fa-icon");
		}

		@include media-breakpoint-down(xs) {
			@include marginRules("fa-icon");

			& > i {
				@include typographyRules("fa-icon");
			}
		}

		@include media-breakpoint-up(sm) {
			@include marginRules("fa-icon", "sm");

			& > i {
				@include typographyRules("fa-icon", "sm");
			}
		}

		@include media-breakpoint-up(md) {
			@include marginRules("fa-icon", "md");

			& > i {
				@include typographyRules("fa-icon", "md");
			}
		}

		@include media-breakpoint-up(lg) {
			@include marginRules("fa-icon", "lg");

			& > i {
				@include typographyRules("fa-icon", "lg");
			}
		}

		@include media-breakpoint-up(xl) {
			@include marginRules("fa-icon", "xl");

			& > i {
				@include typographyRules("fa-icon", "xl");
			}
		}

		@include media-breakpoint-up(xxl) {
			@include marginRules("fa-icon", "xxl");

			& > i {
				@include typographyRules("fa-icon", "xxl");
			}
		}
	}
}

@mixin fa-icon-block-editor-rules() {
	.wp-block-beer-blocks-fa-icon {
		&.is-selected {
			outline: 1px dotted #035cff;
		}

		.editor-styles-wrapper &.wp-block {
			@include media-breakpoint-down(xs) {
				@include horizontalMarginRules("fa-icon");
			}

			@include media-breakpoint-up(sm) {
				@include horizontalMarginRules("fa-icon", "sm");
			}

			@include media-breakpoint-up(md) {
				@include horizontalMarginRules("fa-icon", "md");
			}

			@include media-breakpoint-up(lg) {
				@include horizontalMarginRules("fa-icon", "lg");
			}

			@include media-breakpoint-up(xl) {
				@include horizontalMarginRules("fa-icon", "xl");
			}

			@include media-breakpoint-up(xxl) {
				@include horizontalMarginRules("fa-icon", "xxl");
			}
		}
	}

	.rfip {
		&.rfip--beer-blocks {
			display: block;
			border: 1px solid #ccc;
			border-radius: 4px;
			margin: 0;

			.rfipbtn {
				width: 100%;
			}
		}

		.rfipdropdown {
			&.rfipdropdown--beer-blocks {
				right: 0;
				width: 100%;
				background: rgb(231, 231, 231);
			}
		}
	}
}
