@import "./../helpers/spacing";

@mixin grid-block-rules() {
	.wp-block-beer-blocks-grid {
		@include paddingRules("grid");
		@include marginRules("grid");

		@include media-breakpoint-up(sm) {
			@include paddingRules("grid", "sm");
			@include marginRules("grid", "sm");
		}

		@include media-breakpoint-up(md) {
			@include paddingRules("grid", "md");
			@include marginRules("grid", "md");
		}

		@include media-breakpoint-up(lg) {
			@include paddingRules("grid", "lg");
			@include marginRules("grid", "lg");
		}

		@include media-breakpoint-up(xl) {
			@include paddingRules("grid", "xl");
			@include marginRules("grid", "xl");
		}

		@include media-breakpoint-up(xxl) {
			@include paddingRules("grid", "xxl");
			@include marginRules("grid", "xxl");
		}
	}
}

@mixin grid-block-editor-rules() {
	.wp-block-beer-blocks-grid {
		&.is-selected {
			border: 1px dotted #035cff !important;

			& > .wp-block-beer-blocks-container {
				& > .button-block-appender__container {
					display: block;
				}

				& > .wp-block-beer-blocks-row {
					& > .button-block-appender__container {
						display: block;
					}
				}
			}
		}
	}
}
