@import "./../helpers/spacing";
@import "./../helpers/typography";
@import "./../helpers/colors";
@import "./../helpers/size";

// Default margins
$defaultInstructionMargin: (
	top: 0,
	bottom: 0,
);

// Default numeration typography
$defaultInstructionNumerationTypography: (
	fontSize: 18px,
);

// Default numeration width
$defaultInstructionNumerationWidth: 60px;

// Default numeration height
$defaultInstructionNumerationHeight: 60px;

@mixin instruction-block-rules() {
	.wp-block-beer-blocks-instruction {
		@include backgroundRule("instruction");

		@include media-breakpoint-down(xs) {
			@include verticalMarginRules(
				"instruction",
				$defaultValues: $defaultInstructionMargin
			);
		}

		@include media-breakpoint-up(sm) {
			@include verticalMarginRules(
				"instruction",
				"sm",
				$defaultValues: $defaultInstructionMargin
			);
		}

		@include media-breakpoint-up(md) {
			@include verticalMarginRules(
				"instruction",
				"md",
				$defaultValues: $defaultInstructionMargin
			);
		}

		@include media-breakpoint-up(lg) {
			@include verticalMarginRules(
				"instruction",
				"lg",
				$defaultValues: $defaultInstructionMargin
			);
		}

		@include media-breakpoint-up(xl) {
			@include verticalMarginRules(
				"instruction",
				"xl",
				$defaultValues: $defaultInstructionMargin
			);
		}

		@include media-breakpoint-up(xxl) {
			@include verticalMarginRules(
				"instruction",
				"xxl",
				$defaultValues: $defaultInstructionMargin
			);
		}

		.wp-block-beer-blocks-instruction-contents {
			@include media-breakpoint-down(xs) {
				@include paddingRules("instruction");
			}

			@include media-breakpoint-up(sm) {
				@include paddingRules("instruction", "sm");
			}

			@include media-breakpoint-up(md) {
				@include paddingRules("instruction", "md");
			}

			@include media-breakpoint-up(lg) {
				@include paddingRules("instruction", "lg");
			}

			@include media-breakpoint-up(xl) {
				@include paddingRules("instruction", "xl");
			}

			@include media-breakpoint-up(xxl) {
				@include paddingRules("instruction", "xxl");
			}

			.wp-block-beer-blocks-instruction-numeration {
				@include colorsRules("instruction", "numeration");

				@include media-breakpoint-down(xs) {
					@include typographyRules(
						"instruction",
						"xs",
						"numeration",
						$defaultInstructionNumerationTypography,
						false
					);
					@include widthRules(
						"instruction",
						"xs",
						"numeration",
						$defaultInstructionNumerationWidth
					);
					@include heightRules(
						"instruction",
						"xs",
						"numeration",
						$defaultInstructionNumerationHeight
					);
				}

				@include media-breakpoint-up(sm) {
					@include typographyRules(
						"instruction",
						"sm",
						"numeration",
						$defaultInstructionNumerationTypography,
						false
					);
					@include widthRules(
						"instruction",
						"sm",
						"numeration",
						$defaultInstructionNumerationWidth
					);
					@include heightRules(
						"instruction",
						"sm",
						"numeration",
						$defaultInstructionNumerationHeight
					);
				}

				@include media-breakpoint-up(md) {
					@include typographyRules(
						"instruction",
						"md",
						"numeration",
						$defaultInstructionNumerationTypography,
						false
					);
					@include widthRules(
						"instruction",
						"md",
						"numeration",
						$defaultInstructionNumerationWidth
					);
					@include heightRules(
						"instruction",
						"md",
						"numeration",
						$defaultInstructionNumerationHeight
					);
				}

				@include media-breakpoint-up(lg) {
					@include typographyRules(
						"instruction",
						"lg",
						"numeration",
						$defaultInstructionNumerationTypography,
						false
					);
					@include widthRules(
						"instruction",
						"lg",
						"numeration",
						$defaultInstructionNumerationWidth
					);
					@include heightRules(
						"instruction",
						"lg",
						"numeration",
						$defaultInstructionNumerationHeight
					);
				}

				@include media-breakpoint-up(xl) {
					@include typographyRules(
						"instruction",
						"xl",
						"numeration",
						$defaultInstructionNumerationTypography,
						false
					);
					@include widthRules(
						"instruction",
						"xl",
						"numeration",
						$defaultInstructionNumerationWidth
					);
					@include heightRules(
						"instruction",
						"xl",
						"numeration",
						$defaultInstructionNumerationHeight
					);
				}

				@include media-breakpoint-up(xxl) {
					@include typographyRules(
						"instruction",
						"xxl",
						"numeration",
						$defaultInstructionNumerationTypography,
						false
					);
					@include widthRules(
						"instruction",
						"xxl",
						"numeration",
						$defaultInstructionNumerationWidth
					);
					@include heightRules(
						"instruction",
						"xxl",
						"numeration",
						$defaultInstructionNumerationHeight
					);
				}
			}
		}
	}
}

@mixin instruction-block-editor-rules() {
	.wp-block-beer-blocks-instruction {
		&.wp-block {
			margin-left: 0;
			margin-right: 0;
		}

		&.is-selected {
			outline: 1px dotted #035cff;
		}

		&.has-child-selected {
			outline: 1px dotted #ff9f50;
		}
	}
}
