@import "./../helpers/spacing";
@import "./../helpers/typography";

$defaultMargins: (
	top: 0,
	bottom: 0,
);

@mixin instruction-block-rules() {
	.wp-block-beer-blocks-instruction {
		@include verticalMarginRules(
			"instruction",
			$defaultValues: $defaultMargins
		);

		@include media-breakpoint-up(sm) {
			@include verticalMarginRules(
				"instruction",
				"sm",
				$defaultValues: $defaultMargins
			);
		}

		@include media-breakpoint-up(md) {
			@include verticalMarginRules(
				"instruction",
				"md",
				$defaultValues: $defaultMargins
			);
		}

		@include media-breakpoint-up(lg) {
			@include verticalMarginRules(
				"instruction",
				"lg",
				$defaultValues: $defaultMargins
			);
		}

		@include media-breakpoint-up(xl) {
			@include verticalMarginRules(
				"instruction",
				"xl",
				$defaultValues: $defaultMargins
			);
		}

		@include media-breakpoint-up(xxl) {
			@include verticalMarginRules(
				"instruction",
				"xxl",
				$defaultValues: $defaultMargins
			);
		}

		.wp-block-beer-blocks-instruction-contents {
			@include paddingRules("instruction");

			@include media-breakpoint-up(sm) {
				@include paddingRules("instruction", "sm");
			}

			@include media-breakpoint-up(md) {
				@include paddingRules("instruction", "md");
			}

			@include media-breakpoint-up(lg) {
				@include paddingRules("instruction", "lg");
			}

			@include media-breakpoint-up(xl) {
				@include paddingRules("instruction", "xl");
			}

			@include media-breakpoint-up(xxl) {
				@include paddingRules("instruction", "xxl");
			}

			.wp-block-beer-blocks-instruction-numeration {
				@include typographyRules("instruction", "xs", "numeration");

				@include media-breakpoint-up(sm) {
					@include typographyRules("instruction", "sm", "numeration");
				}

				@include media-breakpoint-up(md) {
					@include typographyRules("instruction", "md", "numeration");
				}

				@include media-breakpoint-up(lg) {
					@include typographyRules("instruction", "lg", "numeration");
				}

				@include media-breakpoint-up(xl) {
					@include typographyRules("instruction", "xl", "numeration");
				}

				@include media-breakpoint-up(xxl) {
					@include typographyRules("instruction", "xxl", "numeration");
				}
			}
		}
	}
}

@mixin instruction-block-editor-rules() {
	.wp-block-beer-blocks-instruction {
		box-sizing: border-box;

		&.wp-block {
			margin-left: unset;
			margin-right: unset;
		}

		&.is-selected {
			border: 1px dotted #035cff;
		}

		&.has-child-selected {
			border: 1px dotted #ff9f50;
		}
	}
}
