@import "./../../variables";
@import "./../helpers/size";
@import "./../helpers/spacing";

// Default line separator height
$defaultSeparatorHeight: 1px;

// Default line separator style
$defaultSeparatorStyle: solid;

// Default line separator color
$defaultSeparatorColor: $black;

// Default triangle width
$defaultSeparatorTriangleWidth: 0px;

// separator border-bottom-width styles
@mixin separatorBorderBottomWidth($breakpointName: "xs") {
	border-bottom-width: $defaultSeparatorHeight;
	$varPrefix: --wp-beer-blocks-separator-height;

	&.wp-beer-blocks-has-height-#{$breakpointName}-rule {
		border-bottom-width: var(#{$varPrefix}-#{$breakpointName});
	}
}

// separator triangle height styles
@mixin separatorTriangleHeight($breakpointName: "xs") {
	$varPrefix: --wp-beer-blocks-separator-triangleWidth;

	&.wp-beer-blocks-has-width-#{$breakpointName}-rule {
		height: var(#{$varPrefix}-#{$breakpointName});
	}
}

// separator triangle border-width styles
@mixin separatorTriangleBorderWidth($breakpointName: "xs") {
	border-width: $defaultSeparatorHeight;
	$varPrefix: --wp-beer-blocks-separator-height;

	&.wp-beer-blocks-has-height-#{$breakpointName}-rule {
		border-width: var(#{$varPrefix}-#{$breakpointName});
	}
}

// separator triangle down styles
@mixin separatorTriangleDownStyles($breakpointName: "xs") {
	transform: translateY(calc(#{$defaultSeparatorTriangleWidth} / 2 * -1))
		rotate(45deg);
	$varPrefix: --wp-beer-blocks-separator-triangleWidth;

	&.wp-beer-blocks-has-width-#{$breakpointName}-rule {
		transform: translateY(calc(var(#{$varPrefix}-#{$breakpointName}) / 2 * -1))
			rotate(45deg);
	}
}

// separator triangle up styles
@mixin separatorTriangleUpStyles($breakpointName: "xs") {
	transform: translateY(
			calc(
				((#{$defaultSeparatorTriangleWidth} / 2) - #{$defaultSeparatorHeight}) *
					-1
			)
		)
		rotate(-135deg);
	$varPrefix: --wp-beer-blocks-separator-triangleWidth;
	$varPrefixHeight: --wp-beer-blocks-separator-height;

	&.wp-beer-blocks-has-width-#{$breakpointName}-rule {
		transform: translateY(
				calc(
					(
							(var(#{$varPrefix}-#{$breakpointName}) / 2) -
								var(
									#{$varPrefixHeight}-#{$breakpointName},
									$defaultSeparatorHeight
								)
						) * -1
				)
			)
			rotate(-135deg);
	}
}

@mixin separator-block-rules() {
	.wp-block-beer-blocks-separator {
		height: 0;
		@include widthRules("separator");
		@include separatorBorderBottomWidth();
		border-bottom-style: var(
			--wp-beer-blocks-separator-style,
			$defaultSeparatorStyle
		);
		border-bottom-color: var(
			--wp-beer-blocks-separator-color,
			$defaultSeparatorColor
		);
		margin-top: revert;
		margin-bottom: revert;
		@include verticalMarginRules("separator");

		.wp-beer-blocks-separator-triangle {
			width: $defaultSeparatorTriangleWidth;
			height: $defaultSeparatorTriangleWidth;
			@include widthRules("separator", $attrPrefix: "triangle");
			@include separatorTriangleHeight();
			@include separatorTriangleBorderWidth();
			border-style: var(
				--wp-beer-blocks-separator-style,
				$defaultSeparatorStyle
			);
			border-color: var(
				--wp-beer-blocks-separator-color,
				$defaultSeparatorColor
			);
			border-left: none;
			border-top: none;
			margin: auto;
			clip-path: polygon(0 100%, 100% 0, 100% 100%);

			&.wp-beer-blocks-separator-triangle-down {
				@include separatorTriangleDownStyles();
			}

			&.wp-beer-blocks-separator-triangle-up {
				@include separatorTriangleUpStyles();
			}
		}

		@include media-breakpoint-up(sm) {
			@include widthRules("separator", "sm");
			@include separatorBorderBottomWidth("sm");
			@include verticalMarginRules("separator", "sm");

			.wp-beer-blocks-separator-triangle {
				@include widthRules("separator", "sm", "triangle");
				@include separatorTriangleHeight("sm");
				@include separatorTriangleBorderWidth("sm");

				&.wp-beer-blocks-separator-triangle-down {
					@include separatorTriangleDownStyles("sm");
				}

				&.wp-beer-blocks-separator-triangle-up {
					@include separatorTriangleUpStyles("sm");
				}
			}
		}

		@include media-breakpoint-up(md) {
			@include widthRules("separator", "md");
			@include separatorBorderBottomWidth("md");
			@include verticalMarginRules("separator", "md");

			.wp-beer-blocks-separator-triangle {
				@include widthRules("separator", "md", "triangle");
				@include separatorTriangleHeight("md");
				@include separatorTriangleBorderWidth("md");

				&.wp-beer-blocks-separator-triangle-down {
					@include separatorTriangleDownStyles("md");
				}

				&.wp-beer-blocks-separator-triangle-up {
					@include separatorTriangleUpStyles("md");
				}
			}
		}

		@include media-breakpoint-up(lg) {
			@include widthRules("separator", "lg");
			@include separatorBorderBottomWidth("lg");
			@include verticalMarginRules("separator", "lg");

			.wp-beer-blocks-separator-triangle {
				@include widthRules("separator", "lg", "triangle");
				@include separatorTriangleHeight("lg");
				@include separatorTriangleBorderWidth("lg");

				&.wp-beer-blocks-separator-triangle-down {
					@include separatorTriangleDownStyles("lg");
				}

				&.wp-beer-blocks-separator-triangle-up {
					@include separatorTriangleUpStyles("lg");
				}
			}
		}

		@include media-breakpoint-up(xl) {
			@include widthRules("separator", "xl");
			@include separatorBorderBottomWidth("xl");
			@include verticalMarginRules("separator", "xl");

			.wp-beer-blocks-separator-triangle {
				@include widthRules("separator", "xl", "triangle");
				@include separatorTriangleHeight("xl");
				@include separatorTriangleBorderWidth("xl");

				&.wp-beer-blocks-separator-triangle-down {
					@include separatorTriangleDownStyles("xl");
				}

				&.wp-beer-blocks-separator-triangle-up {
					@include separatorTriangleUpStyles("xl");
				}
			}
		}

		@include media-breakpoint-up(xxl) {
			@include widthRules("separator", "xxl");
			@include separatorBorderBottomWidth("xxl");
			@include verticalMarginRules("separator", "xxl");

			.wp-beer-blocks-separator-triangle {
				@include widthRules("separator", "xxl", "triangle");
				@include separatorTriangleHeight("xxl");
				@include separatorTriangleBorderWidth("xxl");

				&.wp-beer-blocks-separator-triangle-down {
					@include separatorTriangleDownStyles("xxl");
				}

				&.wp-beer-blocks-separator-triangle-up {
					@include separatorTriangleUpStyles("xxl");
				}
			}
		}
	}
}

@mixin separator-block-editor-rules() {
}
