@import "./../helpers/spacing";
@import "./../helpers/colors";
@import "./../helpers/border";

@mixin tab-pane-block-rules() {
	.wp-block-beer-blocks-tab-pane {
		@include backgroundRule("tab-pane");
		@include borderRules("tab-pane", $borderRadius: true);
		@include paddingRules("tab-pane");
		@include marginRules("tab-pane");

		@include media-breakpoint-up(sm) {
			@include paddingRules("tab-pane", "sm");
			@include marginRules("tab-pane", "sm");
		}

		@include media-breakpoint-up(md) {
			@include paddingRules("tab-pane", "md");
			@include marginRules("tab-pane", "md");
		}

		@include media-breakpoint-up(lg) {
			@include paddingRules("tab-pane", "lg");
			@include marginRules("tab-pane", "lg");
		}

		@include media-breakpoint-up(xl) {
			@include paddingRules("tab-pane", "xl");
			@include marginRules("tab-pane", "xl");
		}

		@include media-breakpoint-up(xxl) {
			@include paddingRules("tab-pane", "xxl");
			@include marginRules("tab-pane", "xxl");
		}
	}
}

@mixin tab-pane-block-editor-rules() {
	.wp-block-beer-blocks-tab-pane {
		&.is-selected {
			outline: 1px dotted #035cff;
		}

		&.has-child-selected {
			outline: 1px dotted #ff9f50;
		}

		& > .button-block-appender__container {
			margin-top: 8px;
			text-align: right;
		}

		.editor-styles-wrapper &.wp-block {
			margin-top: revert;
			margin-bottom: revert;
			@include verticalMarginRules("tab-pane");

			@include media-breakpoint-up(sm) {
				@include verticalMarginRules("tab-pane", "sm");
			}

			@include media-breakpoint-up(md) {
				@include verticalMarginRules("tab-pane", "md");
			}

			@include media-breakpoint-up(lg) {
				@include verticalMarginRules("tab-pane", "lg");
			}

			@include media-breakpoint-up(xl) {
				@include verticalMarginRules("tab-pane", "xl");
			}

			@include media-breakpoint-up(xxl) {
				@include verticalMarginRules("tab-pane", "xxl");
			}
		}
	}
}
