@import "./../helpers/typography";
@import "./../helpers/spacing";
@import "./../helpers/colors";
@import "./../helpers/border";
@import "./../helpers/statuses";

@mixin tabs-block-rules() {
	.wp-block-beer-blocks-tabs {
		@include paddingRules("tabs");
		@include marginRules("tabs");

		@include media-breakpoint-up(sm) {
			@include paddingRules("tabs", "sm");
			@include marginRules("tabs", "sm");
		}

		@include media-breakpoint-up(md) {
			@include paddingRules("tabs", "md");
			@include marginRules("tabs", "md");
		}

		@include media-breakpoint-up(lg) {
			@include paddingRules("tabs", "lg");
			@include marginRules("tabs", "lg");
		}

		@include media-breakpoint-up(xl) {
			@include paddingRules("tabs", "xl");
			@include marginRules("tabs", "xl");
		}

		@include media-breakpoint-up(xxl) {
			@include paddingRules("tabs", "xxl");
			@include marginRules("tabs", "xxl");
		}

		.nav.nav-pills {
			& > .nav-item {
				& > .nav-link {
					@include colorsRules("tabs", "tab");
					@include borderRules("tabs", "tab", $borderRadius: true);
					@include typographyRules("tabs", "xs", "tab");
					@include paddingRules("tabs", "xs", "tab");
					@include marginRules("tabs", "xs", "tab");
					@include statusesRules(
						"tabs",
						"tab",
						$hoverColor: true,
						$activeColor: true,
						$hoverBackground: true,
						$activeBackground: true,
						$hoverBorderColor: true,
						$activeBorderColor: true,
						$transition: true
					);

					@include media-breakpoint-up(sm) {
						@include typographyRules("tabs", "sm", "tab");
						@include paddingRules("tabs", "sm", "tab");
						@include marginRules("tabs", "sm", "tab");
					}

					@include media-breakpoint-up(md) {
						@include typographyRules("tabs", "md", "tab");
						@include paddingRules("tabs", "md", "tab");
						@include marginRules("tabs", "md", "tab");
					}

					@include media-breakpoint-up(lg) {
						@include typographyRules("tabs", "lg", "tab");
						@include paddingRules("tabs", "lg", "tab");
						@include marginRules("tabs", "lg", "tab");
					}

					@include media-breakpoint-up(xl) {
						@include typographyRules("tabs", "xl", "tab");
						@include paddingRules("tabs", "xl", "tab");
						@include marginRules("tabs", "xl", "tab");
					}

					@include media-breakpoint-up(xxl) {
						@include typographyRules("tabs", "xxl", "tab");
						@include paddingRules("tabs", "xxl", "tab");
						@include marginRules("tabs", "xxl", "tab");
					}
				}
			}
		}
	}
}

@mixin tabs-block-editor-rules() {
	.wp-block-beer-blocks-tabs {
		&.is-selected {
			outline: 1px dotted #035cff;
		}

		.editor-styles-wrapper &.wp-block {
			margin-top: revert;
			margin-bottom: revert;
			@include verticalMarginRules("tabs");

			@include media-breakpoint-up(sm) {
				@include verticalMarginRules("tabs", "sm");
			}

			@include media-breakpoint-up(md) {
				@include verticalMarginRules("tabs", "md");
			}

			@include media-breakpoint-up(lg) {
				@include verticalMarginRules("tabs", "lg");
			}

			@include media-breakpoint-up(xl) {
				@include verticalMarginRules("tabs", "xl");
			}

			@include media-breakpoint-up(xxl) {
				@include verticalMarginRules("tabs", "xxl");
			}
		}
	}
}
