@import "~@fonticonpicker/react-fonticonpicker/dist/fonticonpicker.base-theme.react.css";
@import "~@fonticonpicker/react-fonticonpicker/dist/fonticonpicker.material-theme.react.css";
@import "./../../variables.scss";

.wp-block-beer-blocks-fa-icon {
	.editor-styles-wrapper &.wp-block {
		margin-top: $default-blocks-vertical-margin;
		margin-bottom: $default-blocks-vertical-margin;
	}

	&.is-selected {
		border: 1px dotted #035cff;
	}
}

.rfip {
	&.rfip--beer-blocks {
		display: block;
		border: 1px solid #ccc;
		border-radius: 4px;
		margin: 0;

		.rfipbtn {
			width: 100%;
		}
	}

	.rfipdropdown {
		&.rfipdropdown--beer-blocks {
			right: 0;
			width: 100%;
			background: rgb(231, 231, 231);
		}
	}
}
