// Default variable overrides
@import "./../../vendor/bootstrap/custom-variables";
// Bootstrap variables, functions and mixins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Plugin mixins
@import "./../../mixins";

:root {
	@include breakpointsCssVars("separator-height", 1px);
	@include breakpointsCssVars("separator-width", 100px);
	@include breakpointsCssVars("separator-triangleWidth", 0);
	--wp-beer-blocks-separator-border-color: #000;
}

.wp-block-beer-blocks-separator {
	@include frontDefaultMargins;
	height: 0;
	width: var(--wp-beer-blocks-separator-width-xs);
	border-bottom-style: solid;
	border-bottom-color: var(--wp-beer-blocks-separator-border-color);
	border-bottom-width: var(--wp-beer-blocks-separator-height-xs);

	.wp-beer-blocks-separator-triangle {
		box-sizing: border-box;
		border-style: solid;
		border-width: var(--wp-beer-blocks-separator-height-xs);
		border-color: var(--wp-beer-blocks-separator-border-color);
		border-left: none;
		border-top: none;
		margin: auto;
		width: var(--wp-beer-blocks-separator-triangleWidth-xs);
		height: var(--wp-beer-blocks-separator-triangleWidth-xs);
		clip-path: polygon(0 100%, 100% 0, 100% 100%);

		&.wp-beer-blocks-separator-triangle-down {
			transform: translateY(
					calc(var(--wp-beer-blocks-separator-triangleWidth-xs) / 2 * -1)
				)
				rotate(45deg);
		}

		&.wp-beer-blocks-separator-triangle-up {
			transform: translateY(
					calc(
						(
								(var(--wp-beer-blocks-separator-triangleWidth-xs) / 2) -
									var(--wp-beer-blocks-separator-height-xs)
							) * -1
					)
				)
				rotate(-135deg);
		}
	}

	@include media-breakpoint-up(sm) {
		width: var(--wp-beer-blocks-separator-width-sm);
		border-bottom-width: var(--wp-beer-blocks-separator-height-sm);

		.wp-beer-blocks-separator-triangle {
			border-width: var(--wp-beer-blocks-separator-height-sm);
			width: var(--wp-beer-blocks-separator-triangleWidth-sm);
			height: var(--wp-beer-blocks-separator-triangleWidth-sm);

			&.wp-beer-blocks-separator-triangle-down {
				transform: translateY(
						calc(var(--wp-beer-blocks-separator-triangleWidth-sm) / 2 * -1)
					)
					rotate(45deg);
			}

			&.wp-beer-blocks-separator-triangle-up {
				transform: translateY(
						calc(
							(
									(var(--wp-beer-blocks-separator-triangleWidth-sm) / 2) -
										var(--wp-beer-blocks-separator-height-sm)
								) * -1
						)
					)
					rotate(-135deg);
			}
		}
	}

	@include media-breakpoint-up(md) {
		width: var(--wp-beer-blocks-separator-width-md);
		border-bottom-width: var(--wp-beer-blocks-separator-height-md);

		.wp-beer-blocks-separator-triangle {
			border-width: var(--wp-beer-blocks-separator-height-md);
			width: var(--wp-beer-blocks-separator-triangleWidth-md);
			height: var(--wp-beer-blocks-separator-triangleWidth-md);

			&.wp-beer-blocks-separator-triangle-down {
				transform: translateY(
						calc(var(--wp-beer-blocks-separator-triangleWidth-md) / 2 * -1)
					)
					rotate(45deg);
			}
		}
	}

	@include media-breakpoint-up(lg) {
		width: var(--wp-beer-blocks-separator-width-lg);
		border-bottom-width: var(--wp-beer-blocks-separator-height-lg);

		.wp-beer-blocks-separator-triangle {
			border-width: var(--wp-beer-blocks-separator-height-lg);
			width: var(--wp-beer-blocks-separator-triangleWidth-lg);
			height: var(--wp-beer-blocks-separator-triangleWidth-lg);

			&.wp-beer-blocks-separator-triangle-down {
				transform: translateY(
						calc(var(--wp-beer-blocks-separator-triangleWidth-lg) / 2 * -1)
					)
					rotate(45deg);
			}
		}
	}

	@include media-breakpoint-up(xl) {
		width: var(--wp-beer-blocks-separator-width-xl);
		border-bottom-width: var(--wp-beer-blocks-separator-height-xl);

		.wp-beer-blocks-separator-triangle {
			border-width: var(--wp-beer-blocks-separator-height-xl);
			width: var(--wp-beer-blocks-separator-triangleWidth-xl);
			height: var(--wp-beer-blocks-separator-triangleWidth-xl);

			&.wp-beer-blocks-separator-triangle-down {
				transform: translateY(
						calc(var(--wp-beer-blocks-separator-triangleWidth-xl) / 2 * -1)
					)
					rotate(45deg);
			}

			&.wp-beer-blocks-separator-triangle-up {
				transform: translateY(
						calc(
							(
									(var(--wp-beer-blocks-separator-triangleWidth-xl) / 2) -
										var(--wp-beer-blocks-separator-height-xl)
								) * -1
						)
					)
					rotate(-135deg);
			}
		}
	}

	@include media-breakpoint-up(xxl) {
		width: var(--wp-beer-blocks-separator-width-xxl);
		border-bottom-width: var(--wp-beer-blocks-separator-height-xxl);

		.wp-beer-blocks-separator-triangle {
			border-width: var(--wp-beer-blocks-separator-height-xxl);
			width: var(--wp-beer-blocks-separator-triangleWidth-xxl);
			height: var(--wp-beer-blocks-separator-triangleWidth-xxl);

			&.wp-beer-blocks-separator-triangle-down {
				transform: translateY(
						calc(var(--wp-beer-blocks-separator-triangleWidth-xxl) / 2 * -1)
					)
					rotate(45deg);
			}

			&.wp-beer-blocks-separator-triangle-up {
				transform: translateY(
						calc(
							(
									(var(--wp-beer-blocks-separator-triangleWidth-xxl) / 2) -
										var(--wp-beer-blocks-separator-height-xxl)
								) * -1
						)
					)
					rotate(-135deg);
			}
		}
	}
}
