@import "./../../mixins.scss";

.wp-block-beer-blocks-accordion-item {
	@include editorDefaultMargins(0);

	.editor-styles-wrapper &.wp-block {
		&.card {
			padding: 0;
			box-shadow: none;
			background: transparent;

			& > .card-header {
				margin-bottom: -1px;
			}
		}
	}
}
