.wp-block-beer-blocks-accordion-item {
	.editor-styles-wrapper &.wp-block {
		margin-top: 0;
		margin-bottom: 0;

		&.card {
			padding: 0;
			box-shadow: none;
			background: transparent;

			& > .card-header {
				margin-bottom: -1px;
			}
		}
	}
}
