// Default variable overrides
@import "./../../vendor/bootstrap/custom-variables";
// Bootstrap variables, functions and mixins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Plugin mixins
@import "./../../mixins";

:root {
	@include breakpointsCssVars(
		"accordion-item-headingFontSize",
		$input-btn-font-size
	);
	@include breakpointsCssVars(
		"accordion-item-headingLineHeight",
		$input-btn-line-height
	);
}

.wp-block-beer-blocks-accordion-item {
	& > .card-header > h2 .btn {
		font-size: var(--wp-beer-blocks-accordion-item-headingFontSize-xs);
		line-height: var(--wp-beer-blocks-accordion-item-headingLineHeight-xs);

		@include media-breakpoint-up(sm) {
			font-size: var(--wp-beer-blocks-accordion-item-headingFontSize-sm);
			line-height: var(--wp-beer-blocks-accordion-item-headingLineHeight-sm);
		}

		@include media-breakpoint-up(md) {
			font-size: var(--wp-beer-blocks-accordion-item-headingFontSize-md);
			line-height: var(--wp-beer-blocks-accordion-item-headingLineHeight-md);
		}

		@include media-breakpoint-up(lg) {
			font-size: var(--wp-beer-blocks-accordion-item-headingFontSize-lg);
			line-height: var(--wp-beer-blocks-accordion-item-headingLineHeight-lg);
		}

		@include media-breakpoint-up(xl) {
			font-size: var(--wp-beer-blocks-accordion-item-headingFontSize-xl);
			line-height: var(--wp-beer-blocks-accordion-item-headingLineHeight-xl);
		}

		@include media-breakpoint-up(xxl) {
			font-size: var(--wp-beer-blocks-accordion-item-headingFontSize-xxl);
			line-height: var(--wp-beer-blocks-accordion-item-headingLineHeight-xxl);
		}
	}
}
