@import "./../../variables.scss";

.wp-block-beer-blocks-tabs {
	.editor-styles-wrapper &.wp-block {
		margin-top: $default-blocks-vertical-margin;
		margin-bottom: $default-blocks-vertical-margin;
	}

	&.is-selected {
		border: 1px dotted #035cff;
	}
}
