:root {
	--beer-blocks-tabs-nav-link-color: #007bff;
	--beer-blocks-tabs-nav-link-background: transparent;
	--beer-blocks-tabs-nav-link-active-color: #fff;
	--beer-blocks-tabs-nav-link-active-background: #007bff;
	--beer-blocks-tabs-nav-link-hover-color: #0056b3;
	--beer-blocks-tabs-nav-link-hover-background: transparent;
}

.wp-block-beer-blocks-tabs {
	.nav.nav-pills {
		& > .nav-item {
			& > .nav-link {
				color: var(--beer-blocks-tabs-nav-link-color);
				background-color: var(--beer-blocks-tabs-nav-link-background);

				&:hover {
					color: var(--beer-blocks-tabs-nav-link-hover-color);
					background-color: var(--beer-blocks-tabs-nav-link-hover-background);
				}

				&.active {
					color: var(--beer-blocks-tabs-nav-link-active-color);
					background-color: var(--beer-blocks-tabs-nav-link-active-background);
				}
			}
		}
	}
}
