.wp-block-beer-blocks-accordion {
	&.is-selected {
		border: 1px dotted #035cff !important;

		& > .button-block-appender__container {
			display: block;
		}
	}

	&.has-child-selected {
		border: 1px dotted #ff9f50 !important;

		& > .button-block-appender__container {
			display: block;
		}
	}

	& > .button-block-appender__container {
		display: none;
		margin-top: 8px;
		margin-bottom: 8px;
	}
}
