@import "./../../mixins.scss";

.wp-block-beer-blocks-column {
	.editor-styles-wrapper &.wp-block {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	&.is-selected {
		border: 1px dotted #035cff;
	}

	&.has-child-selected {
		border: 1px dotted #20c997;
	}
}
