@import "./../../helpers";

$defaultPadding: (
	top: 0,
	bottom: 0,
);
$paddingSides: ("top", "bottom");

$defaultMargin: (
	top: 0,
	right: 0,
	bottom: 0,
	left: 0,
);
$marginSides: ("top", "bottom");

.wp-block-beer-blocks-column {
	@include paddingRules("column", "xs", "", $defaultPadding, $paddingSides);
	@include marginRules("column", "xs", "", $defaultMargin, $marginSides);

	@include media-breakpoint-up(sm) {
		@include paddingRules("column", "sm", "", $defaultPadding, $paddingSides);
		@include marginRules("column", "sm", "", $defaultMargin, $marginSides);
	}

	@include media-breakpoint-up(md) {
		@include paddingRules("column", "md", "", $defaultPadding, $paddingSides);
		@include marginRules("column", "md", "", $defaultMargin, $marginSides);
	}

	@include media-breakpoint-up(lg) {
		@include paddingRules("column", "lg", "", $defaultPadding, $paddingSides);
		@include marginRules("column", "lg", "", $defaultMargin, $marginSides);
	}

	@include media-breakpoint-up(xl) {
		@include paddingRules("column", "xl", "", $defaultPadding, $paddingSides);
		@include marginRules("column", "xl", "", $defaultMargin, $marginSides);
	}

	@include media-breakpoint-up(xxl) {
		@include paddingRules("column", "xxl", "", $defaultPadding, $paddingSides);
		@include marginRules("column", "xxl", "", $defaultMargin, $marginSides);
	}
}
