// Bootstrap variables and mixins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Default blocks vertical margin in the editor view
$defaultBlocksVerticalMargin: 20px;

// Default typography rules values
$defaultTypographyValues: (
	fontSize: $font-size-base,
	lineHeight: $line-height-base,
);

// Default button typography rules values
$defaultButtonTypographyValues: (
	fontSize: $input-btn-font-size,
	lineHeight: $input-btn-line-height,
);

// Default headers typography rules values
$headersDefaultTypographyValues: (
	h1: (
		fontSize: $h1-font-size,
		lineHeight: $headings-line-height,
	),
	h2: (
		fontSize: $h2-font-size,
		lineHeight: $headings-line-height,
	),
	h3: (
		fontSize: $h3-font-size,
		lineHeight: $headings-line-height,
	),
	h4: (
		fontSize: $h4-font-size,
		lineHeight: $headings-line-height,
	),
	h5: (
		fontSize: $h5-font-size,
		lineHeight: $headings-line-height,
	),
	h6: (
		fontSize: $h6-font-size,
		lineHeight: $headings-line-height,
	),
);

// Default padding for Alert block type
$alertBlockDefaultPadding: (
	top: $alert-padding-y,
	right: $alert-padding-x,
	bottom: $alert-padding-y,
	left: $alert-padding-x,
);

// Default padding for Jumbotron block type
$jumbotronBlockDefaultPadding: (
	top: $jumbotron-padding * 2,
	right: $jumbotron-padding,
	bottom: $jumbotron-padding * 2,
	left: $jumbotron-padding,
);

// Jumbotron default padding for xs resolutions
$jumbotronBlockDefaultPaddingXs: (
	top: $jumbotron-padding * 0.5,
	right: $jumbotron-padding,
	bottom: $jumbotron-padding * 0.5,
	left: $jumbotron-padding,
);

// Button block type default padding
$buttonDefaultPadding: (
	top: $btn-padding-y,
	right: $btn-padding-x,
	bottom: $btn-padding-y,
	left: $btn-padding-x,
);

// Default colors
$defaultColors: (
	color: $body-color,
	background: transparent,
);

// Default border
$defaultBorder: (
	style: none,
	color: transparent,
	width: 0px,
);

// Default border radius
$defaultBorderRadius: (
	top-left: 0px,
	top-right: 0px,
	bottom-right: 0px,
	bottom-left: 0px,
);

// Default border for button block type
$defaultBorderButton: (
	style: solid,
	color: $gray-900,
	width: 2px,
);

// Default border for accordion-item block type
$defaultAccordionItemBorder: (
	style: solid,
	color: $card-border-color,
	width: 1px,
);

// Default margins for accordion-item block type
$defaultAccordionItemMargin: (
	top: 0,
	right: 0,
	bottom: 0,
	left: 0,
);

// Default typography for accordion-item block type heading
$defaultAccordionItemHeadingTypography: (
	fontSize: $input-btn-font-size,
	lineHeight: $input-btn-line-height,
);

// Default background for accordion-item block type heading
$defaultAccordionItemHeadingBackground: $card-cap-bg;

// Default color for accordion-item block type heading
$defaultAccordionItemHeadingColor: $link-color;

// Default background for accordion-item block type body
$defaultAccordionItemBodyBackground: $card-bg;

// Default border for statuses helper
$defaultStatusesHelperBorder: (
	color: transparent,
	width: 0px,
);

// Default border button for statuses helper
$defaultStatusesHelperBorderButton: (
	color: $gray-900,
	width: 2px,
);

// Default paragraph block type colors
$defaultParagraphColors: (
	color: $body-color,
	background: transparent,
);

// Default header block type colors
$defaultHeaderColors: (
	color: if($headings-color, $headings-color, $body-color),
	background: transparent,
);

// Default figcaption typography used in image block
$defaultFigcaptionTypography: (
	fontSize: $figure-caption-font-size,
	lineHeight: $line-height-base,
);
