.wp-block-beer-blocks-instruction {
	box-sizing: border-box;

	&.wp-block {
		margin-left: unset;
		margin-right: unset;
	}

	&.is-selected {
		border: 1px dotted #035cff;
	}

	&.has-child-selected {
		border: 1px dotted #ff9f50;
	}
}
