@import "./../../helpers";

.wp-block-beer-blocks-instruction {
	$defaultMargins: (
		top: 0,
		right: 0,
		bottom: 0,
		left: 0,
	);

	@include marginRules("instruction", "xs", "", $defaultMargins);

	@include media-breakpoint-up(sm) {
		@include marginRules("instruction", "sm", "", $defaultMargins);
	}

	@include media-breakpoint-up(md) {
		@include marginRules("instruction", "md", "", $defaultMargins);
	}

	@include media-breakpoint-up(lg) {
		@include marginRules("instruction", "lg", "", $defaultMargins);
	}

	@include media-breakpoint-up(xl) {
		@include marginRules("instruction", "xl", "", $defaultMargins);
	}

	@include media-breakpoint-up(xxl) {
		@include marginRules("instruction", "xxl", "", $defaultMargins);
	}

	.wp-block-beer-blocks-instruction-contents {
		@include paddingRules("instruction");

		@include media-breakpoint-up(sm) {
			@include paddingRules("instruction", "sm");
		}

		@include media-breakpoint-up(md) {
			@include paddingRules("instruction", "md");
		}

		@include media-breakpoint-up(lg) {
			@include paddingRules("instruction", "lg");
		}

		@include media-breakpoint-up(xl) {
			@include paddingRules("instruction", "xl");
		}

		@include media-breakpoint-up(xxl) {
			@include paddingRules("instruction", "xxl");
		}

		.wp-block-beer-blocks-instruction-numeration {
			@include typographyRules("instruction", "xs", "numeration");

			@include media-breakpoint-up(sm) {
				@include typographyRules("instruction", "sm", "numeration");
			}

			@include media-breakpoint-up(md) {
				@include typographyRules("instruction", "md", "numeration");
			}

			@include media-breakpoint-up(lg) {
				@include typographyRules("instruction", "lg", "numeration");
			}

			@include media-breakpoint-up(xl) {
				@include typographyRules("instruction", "xl", "numeration");
			}

			@include media-breakpoint-up(xxl) {
				@include typographyRules("instruction", "xxl", "numeration");
			}
		}
	}
}
